div(id=`${currencyBase}-${currencyQuote}-container` hx-swap-oob='innerHTML')
    ul(class='currency-pair-rates')
        each rate in rates
            li
                span=rate.exchangeName
                span
                    span="Compra"
                    span=rate.buy                
                span
                    span="Venta"
                    span=rate.sell