div(id=`${asset}-${fiat}-container` hx-swap-oob='innerHTML')    
    div(class='symbol-table-ask buy')
        each val in pricesSortedByAsk
            div(class=`symbol-table-row ${val.exchangeType.toLowerCase()}`)
                span(class="data")
                    img(src=`${val.exchangeLogoURL}` class='exchange-logo')
                    span(class="exchange-type")=val.exchangeType
                    span(class="exchange-name")=val.exchange                    
                if val.ask
                    span(class="price")=val.totalAsk.toFixed(2)
                else
                    span(class="price")="Not available"
    div(class='symbol-table-bid sell')
        each val in pricesSortedByBid
            div(class=`symbol-table-row ${val.exchangeType.toLowerCase()}`)
                span(class="data")
                    img(src=`${val.exchangeLogoURL}` class='exchange-logo')
                    span(class="exchange-type")=exchangeType
                    span(class="exchange-name")=val.exchange
                if val.bid
                    span(class="price")=val.totalBid.toFixed(2)
                else
                    span(class="price")="Not available"

div(id=`${asset}-${fiat}-info-container` hx-swap-oob='innerHTML')
    span(class="volume")=volume